body { box-sizing: border-box; font-family: Arial; }
.tabs { font-size: 0; }
.tabs>input[type="radio"] { display: none; }
.tabs>div { display: none; border: 1px solid #e0e0e0; padding: 5px 5px; font-size: 16px; }
.tabs>label { display: inline-block; text-align: center; vertical-align: middle; user-select: none; background-color: #f5f5f5; border: 1px solid #e0e0e0; padding: 2px 8px; font-size: 16px; line-height: 1.5; cursor: pointer; position: relative; top: 1px; margin-left: 9px; }
.tabs>label:hover, .tabs>label:hover:before, .tabs>label:hover:after { background-color: #dbdbdb; }
.tabs>label:not(:first-of-type) { margin-left: 5.5px;}
.tabs>label:before, .tabs>label:after { display: block;  content: " ";  position: absolute;   top: 0;  height: 100%;  width: 5px; background-color: #f5f5f5; border-bottom: 1px solid #e0e0e0;}
.tabs>label:before { right: -5px; transform: skew(5deg, 0deg) ; border-right: 1px solid #ccc; border-radius: 0 4px 0 0;}
.tabs>label:after { left: -5px; transform: skew(-5deg, 0deg); border-left: 1px solid #ccc; border-radius: 4px 0 0 0; z-index:  2;}

.tabs>input[type="radio"]:checked+label,
.tabs>input[type="radio"]:checked+label:before,
.tabs>input[type="radio"]:checked+label:after { background-color: #fff; border-bottom: 1px solid #fff; }

.tabs>input[type="radio"]:checked+label:before { z-index: 3; }
.tabs>input[type="radio"]:checked+label:after { z-index: 3; }
.content-1 { border-radius: 4px; }
.content-2 { border-radius: 4px; }

#components-wrap { display: flex; justify-content: flex-start; align-content: flex-start; align-items: flex-start; flex-wrap: wrap; padding-bottom: 24px; width: 100%; z-index: 5; height: 500px; overflow: auto; }
.components { width: 90px; height: 90px; margin-top: 24px; box-sizing: border-box; position: relative; cursor: pointer; text-align: center; font-weight: normal;	font-size: 10px; word-break: break-all; margin: 6px; margin-bottom:  28px;}
.components img { width: 100%; height: 100%; }
.components:hover { border: 1px solid #ebe0e0;}
.components.active:before { content: url('ok.png'); display: block; left: 10px; bottom: 10px; z-index: 0; position: absolute;}
.kl:after { content: "kitchen"; position: absolute; left: 0; right: 0; bottom: 0; z-index: 1; background: rgba(224,129,32,0.4); text-align: center; font-family: Arial, sans-serif; font-size: 11px; padding: 2px 3px; border: 1px solid #e0e0e0; }
.newer:after { content: "newer"; position: absolute; right: 0; bottom: 0; z-index: 1; background: rgba(24,179,255,0.4); text-align: center; font-family: Arial, sans-serif; font-size: 11px; padding: 2px 3px; border: 1px solid #e0e0e0; }
.new:after { content: "new"; position: absolute; right: 0; bottom: 0; z-index: 1; background: rgba(244,24,255,0.4); text-align: center; font-family: Arial, sans-serif; font-size: 11px; padding: 2px 3px; border: 1px solid #e0e0e0; }
#materials-wrap { display: flex; justify-content: flex-start; align-content: flex-start; align-items: flex-start; flex-wrap: wrap; padding-bottom: 24px; width: 100%; z-index: 5; height: 500px; overflow: auto; }
.materials { width: 90px; height: 90px; margin-top: 24px; box-sizing: border-box; position: relative; cursor: pointer; text-align: center; font-weight: normal;	font-size: 10px; word-break: break-all; margin: 6px; margin-bottom:  28px;}
.materials img { width: 100%; height: 100%; padding-bottom: 4px; }
.materials:hover { border: 1px solid #ebe0e0;}
.materials.active:before { content: url('ok.png'); display: block; left: 10px; bottom: 10px; z-index: 0; position: absolute;}
#footer { position: fixed; bottom: 0; left: 0; width: 100%; height: 25px; line-height: 20px; text-align: center; border-top: 1px solid gray; background-color: #f5f5f5; padding: 5px 5px;}
.footer_button { cursor: pointer; color: #000000; display: inline-block; margin-left: 3px; margin-right: 3px; font-size: 12px;}
#apply { position: relative; margin: 0 auto; color: #000000; }
#apply:hover { cursor: pointer; } 