body {
  background-color: #FFFFFF; /* Без изменений */
  margin: 0; /* Без изменений */
  box-sizing: border-box; /* Без изменений */
  overflow-x: hidden; /* Без изменений */
  font-family: "Open Sans", Arial, sans-serif; /* Обновление шрифта */
}

#main {
  width: 100%; /* Без изменений */
}

#c1 {
  width: 20px; /* Без изменений */
}

#pages_table {
  padding: 5px; /* Без изменений */
  font-size: 12px; /* Без изменений */
  color: #333;
}

#pages_properties_table {
  padding: 5px; /* Без изменений */
  font-size: 12px; /* Без изменений */
  background-color: #e2ded7; /* Без изменений */
  border: 1px solid gray; /* Без изменений */
  border-radius: 3px; /* Легкое скругление углов */
  color: #333;
}

#pages_properties_table td {
  width: 100%; /* Без изменений */
  padding: 2px; /* Небольшой внутренний отступ для читабельности */
}

#pages_properties_table tr {
  height: 30px; /* Без изменений */
}

